altgraph==0.17
appdirs==1.4.4    
backcall==0.2.0   
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
docutils==0.17.1
filelock==3.0.12
future==0.18.2
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
parso==0.7.1
pefile==2019.4.18
pickleshare==0.7.5
prompt-toolkit==3.0.8
Pygments==2.7.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pypiwin32==223
pywin32==301
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.15.0
traitlets==5.0.5
urllib3==1.26.6
virtualenv==20.2.2
wcwidth==0.2.5