Motivation:
	- Using GCR can be super heavy-handed. It's annoying to have to figure out which color needs to be replaced and then scroll through the files on GCR to find the file to import over.

Desired Workflow:
	- User will download a texture from some website
	- With all of the files downloaded, the user can run the application with a simple double click
	- The files will be successfully updated in the game image

Requirements
	- Must be lightweight, and require little-nothing to download (other than gcr)


Design Choices
	- The file might be zipped or might be under a folder. Need to handle all of these cases

	- C++ vs. Python
		- Python is quick and easy to develop with. Can then convert this to an executable.
		- C++ automatically makes an executable.

	- Where should this application live on the user's device?
		- In the same folder of GCR would be nice for me
		- If not in the same folder, they'll have to specify a path (probably with file explorer click)

	- What if there are multiple of the same file?
		- Easy: Take the last file that has been seen
		- More work: Have a dialogue, identify what happened, have them choose which one to use

	- How would I cache the locations so that they don't have to specify them multiple times?
		1. Check if folder and text file exists
			a) If not, it's the first time that it's being run and locations should be specified
			b) If it does exist, check to see if the paths are still valid

	- How do I ensure that the user knows what is happening?
		- Need some sort of visual confirmation...
			a) Pop-up dialogue
			b) GUI that's always up and displays the status
			c) Something with instructions??

	- When extracting, create my own folder in whatever directory is specified.
		Remove this directory when finished


------------------------------------ KIVY -----------------------------------
- Using kivy as the main renderer
- Steps:
	1. Design it
	2. Implement the design in a kivy file
	4. Implement the textureImporter file as a kivy application